@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lora", sans-serif;
}

header {
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  flex: 1;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  gap: 25px;
 
  gap: 15px; /* adjust as you want */


}

.logo-text {
  font-family: "Exile", system-ui;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1b365d;
}

.nav-link {
  color: #1b365d;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  padding: 5px 0;
  font-size: 16px;

}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #1b365d;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover {
  color: #14457b;
}

.nav-link:hover::after {
  width: 100%;
}

/* Register Now Button Style */
.register-button {
  background-color: #1b365d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.register-button:hover {
  background-color: white;
  color: #1b365d;
  border: 2px solid #1b365d;
}

.join-but {
  background-color: #1b365d;
  color: white;
  border: none;
  font-weight: bold;
  padding: 13.6px 30.6px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-but:hover {
  background-color: white;
  color: #1b365d;
  border: 2px solid #1b365d;
}

.hero-image {
  width: 100%;
  height: 850px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.split-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.top-half img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.bottom-half {
  margin-top: 20px;
}

.bottom-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1b365d;
  margin-bottom: 10px;
}

.bottom-desc {
  font-size: 1.1rem;
  color: #444;
}
